---
import Layout from '../layouts/Layout.astro';
import Header from '@/components/sections/Header.astro';
import Works from '@/components/sections/Works.astro';
import { name } from '@projects';

---

<Layout title=`${name} - Tiny Showcase``>
	<main>
		<Header/>
		<Works/>
	</main>
</Layout>


