---
import Layout from '../layouts/Layout.astro';
import Header from '@/components/sections/Header.astro';
import Works from '@/components/sections/Works.astro';

---

<Layout title="Welcome to Astro.">
	<main>
		<Header/>
		<Works/>
	</main>
</Layout>


